default_language_version:
  python: python3.14
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
      # - id: no-commit-to-branch
      - id: pretty-format-json
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  # - repo: https://github.com/nim65s/pre-commit-sort
  #   rev: v0.4.0
  #   hooks:
  #   - id: pre-commit-sort

  - repo: https://github.com/rvben/rumdl-pre-commit
    rev: v0.0.191
    hooks:
    - id: rumdl-fmt
      exclude: (^\.specify/templates/|^\.github/prompts/).*

  - repo: https://github.com/kieran-ryan/pyprojectsort
    rev: v0.4.0
    hooks:
      - id: pyprojectsort
        args: [backend/pyproject.toml]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
      - id: absolufy-imports

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff-check
      - id: ruff-format

  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v1.0.2
    hooks:
      - id: sphinx-lint

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies: [ pytest, hypothesis]

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs

  - repo: https://github.com/crate-ci/typos
    rev: v1.40.0
    hooks:
      - id: typos
        exclude_types: ['csv']

  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        exclude: (?x)^(
                tests/hypothesis/multi_geometry_test.py
                )$

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.16
    hooks:
      - id: uv-sync
        args: ["--check"]

  # - repo: https://github.com/fpgmaas/deptry.git
  #   rev: "0.24.0"
  #   hooks:
  #     - id: deptry
