apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: cluster-cert
spec:
  secretName: cluster-cert-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - api.sandbox.example.test
    - k8s.sandbox.example.test
    - nextjs.example.test
